---
layout: page
title: "Private Posts"
description: "Organization Members Only"
background: '/img/bg-post.jpg'
---

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% for post in site.categories.private %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">
            Posted on {{ post.date | date: '%B %d, %Y' }}
          </p>
        </article>
        <hr class="my-4">
      {% endfor %}
    </div>
  </div>
</div>